@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import "../../styles/variables";
* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.task-block {
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 150px;
  margin: 10px;
  padding: 15px;
  width: calc((100vw / 3) - 50px);
  box-shadow: 0 0 3px $blue;
  border-radius: 5px;
  background: $blue;
}

.icon {
  cursor: pointer;
}

.task-top {
  display: flex;
  justify-content: space-between;
}

.task-completed-block {
  background: $dark-blue;
  p, h3{
    text-decoration-line: line-through;
  }
  .complete, .edit{
    display: none;
  }
  .delete{
    padding-left: 30px;
  }
}

.task-bottom {
  height: 80%;
  display: flex;
  justify-content: space-between;
}

.complete-delete {
  width: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.body {
  max-height: 100px;
  padding: 5px;
  width: 80%;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-line;
  overflow: hidden;
}

.two-buttons {
  display: flex;
  justify-content: space-between;
}

.complete, .edit {
  .icon {
    transition: ease 1s;
  }
  &:hover {
    .icon {
      transform: scale(1.5);
    }
  }
}
.delete{
  .icon {
    transition: ease 1s;
  }
  &:hover {
    .icon {
      transform: rotate(180deg);
    }
  }
}

.title {
  max-height: 30px;
  padding-left: 10px;
  width: 70%;
  background: #98baf5;
  border-radius: 7px;
  box-shadow: 0 0 5px #98baf5;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-line;
  overflow: hidden;
}

@media (max-width: 700px) {
  .task-block {
    width: 100%;
  }
}


