@import "../../../../styles/variables.scss";

.complete-dialog {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: $fourth-color;
    text-align: center;
    font-size: 50px;
  }

  .icon-complete {
    transition: ease 1s;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;

    &:hover {
      transform: rotate(180deg);
    }
  }
}

