@import "../../../styles/variables";

.complete-dialog {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: $blue;
    text-align: center;
    font-size: 50px;
  }

  .icon-complete {
    transition: ease 1s;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;

    &:hover {
      transform: rotate(180deg);
    }
  }
}
@media (max-width: 700px) {
  .complete-dialog{
    width: 80%;
   p{
     padding-left: 40px;
   }
  }
}

